.hed1{
	color:#2a7ae2;
	font-size: 30px;
}
.hed2{
	color:#f44336;
	font-size: 25px;
}
.hed3{
	color:#4caf50;
	font-size: 20px;
}
.hed4{
	color:#ff9800;
	font-size: 15px;
}
.hed5{
	color:#607d8b;
	font-size: 10px;
}
.hed6{
	color:#ffeb3b;
	font-size: 5px;
}
